cffi==1.10.0              # via cryptography
click==6.7                # via flask
cryptography==1.7.2       # via jwt
flask==0.12.2
idna==2.5                 # via cryptography
itsdangerous==0.24        # via flask
jinja2==2.9.6             # via flask
jwt==0.5.2
markupsafe==1.0           # via jinja2
pyasn1==0.2.3             # via cryptography
pycparser==2.17           # via cffi
pyjwt==1.5.3
six==1.10.0               # via cryptography
werkzeug==0.12.2          # via flask
